class Credentials:
    # RDS && ASG LaunchConfiguration
    RDS_USER=""
    RDS_PASSWORD="$"
    RDS_DATABASE=""
    GIT_TOKEN=""
    # Provider Configuration
    ACCESS_KEY=""
    SECRET_KEY=""
    REGION=""
    # EC2 KeyPairs
    KEY_PAIR=""
    # Route53
    ZONE_ID=""
    NAME_RECORD=""
